<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeAliases>
        <typeAlias alias = "MstShop" type = "org.rivercrane.models.MstShop"/>
        <typeAlias alias = "MstUsers" type = "org.rivercrane.models.MstUsers"/>
        <typeAlias alias = "MstCustomer" type = "org.rivercrane.models.MstCustomer"/>
        <typeAlias alias = "MstProduct" type = "org.rivercrane.models.MstProduct"/>
        <typeAlias alias = "ProductDto" type = "org.rivercrane.models.ProductDto"/>
        <typeAlias alias = "ProductDetail" type = "org.rivercrane.models.ProductDetail"/>
    </typeAliases>
    <!-- Configuring the database environment -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/mst" />
                <property name="username" value="root" />
                <property name="password" value="root" />
            </dataSource>
        </environment>
    </environments>

    <!-- Configuring the SQL statement mappings -->
    <mappers>
        <mapper resource="./mapper/MstShopMapper.xml" />
        <mapper resource="./mapper/MstUsersMapper.xml" />
        <mapper resource="./mapper/MstCustomerMapper.xml" />
        <mapper resource="./mapper/MstProductMapper.xml" />
    </mappers>

</configuration>