
#form-login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#customAlert{
    position: fixed;
    top: 0;
    transform: translateY(100%);
    left: 0;
    right: 0;
    margin-bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
}

#product-detail img{
    max-width:500px;
    max-height: 500px;
    object-fit: cover;
}