<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MstCustomer">
    <resultMap id = "MstCustomer" type = "MstCustomer">
        <result property = "customerId" column = "customer_id"/>
        <result property = "customerCode" column = "customer_code"/>
        <result property = "customerName" column = "customer_name"/>
        <result property = "email" column = "email"/>
        <result property = "telNum" column = "tel_num"/>
        <result property = "address" column = "address"/>
        <result property = "isActive" column = "is_active"/>
        <result property = "createdAt" column = "created_at"/>
        <result property = "updatedAt" column = "updated_at"/>
    </resultMap>

    <select id = "findAll" resultMap = "MstCustomer">
        select * from mst_customer;
    </select>

    <select id="findByEmail" resultMap="MstCustomer" parameterType="MstCustomer">
        select * from mst_customer where email = #{email};
    </select>

    <select id="findByNameAndEmailAndAddress" resultMap="MstCustomer" parameterType="MstCustomer">
        SELECT *
        FROM mst_customer
        WHERE customer_name LIKE #{customerName}
          AND email LIKE #{email}
          AND address LIKE #{address};
    </select>

    <select id="findByNumPage" parameterType="int" resultMap="MstCustomer">
        select *
        from mst_customer order by (customer_id) desc Limit #{offset}, 10;
    </select>

    <select id="getTotalRecord" resultType="int">
        select count(customer_id) from mst_customer;
    </select>

    <update id="update" parameterType="MstCustomer">
        update mst_customer
        set customer_name = #{customerName}, email= #{email}, address = #{address}, tel_num = #{telNum}
        where (email = #{email});
    </update>

    <insert id="insert" parameterType="MstCustomer">
        INSERT INTO mst_customer(customer_name, email, tel_num, address,is_active)
        VALUES(#{customerName},#{email},#{telNum},#{address},#{isActive});
    </insert>


</mapper>