<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MstProduct">
    <resultMap id="MstProductDto" type="ProductDto">
        <result property="productId" column="product_id"/>
        <result property="productCode" column="product_code"/>
        <result property="productName" column="product_name"/>
        <result property="productImage" column="product_image"/>
        <result property="productPrice" column="product_price"/>
        <result property="isSales" column="is_sales"/>
        <result property="description" column="description"/>
        <result property="customerId" column="customer_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="customerName" column="customer_name"/>
        <result property="productDetails" column="product_details"/>
        <result property="isContainer" column="is_container"/>
    </resultMap>

    <resultMap id="MstProduct" type="MstProduct">
        <result property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productImage" column="product_image "/>
        <result property="productPrice" column="product_price"/>
        <result property="isSales" column="is_sales"/>
        <result property="description" column="description"/>
        <result property="customerId" column="customer_id"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="productDetails" column="product_details"/>
        <result property="isContainer" column="is_container"/>
    </resultMap>

    <resultMap id="ProductDetail" type="ProductDetail">
        <result property="productId" column="product_id"/>
        <result property="productComponent" column="product_component"/>
        <result property="qty" column="qty"/>
    </resultMap>

    <select id="findAll" resultMap="MstProduct">
        select
            p.product_id,
            p.product_name,
            p.product_image,
            p.product_price,
            p.is_sales,
            p.description,
            p.customer_id,
            p.created_at,
            p.updated_at,
            p.product_details,
            p.is_container
        from mst_product p;
    </select>

    <select id="selectNewestId" resultType="int">
        select product_id from mst_product order by product_id desc limit 1;
    </select>

    <select id="findById" resultMap="MstProduct">
        select p.product_id,
               p.product_name,
               p.product_image,
               p.product_price,
               p.is_sales,
               p.description,
               p.customer_id,
               p.created_at,
               p.updated_at,
               p.product_details,
               p.is_container
        from mst_product p
        where p.product_id = #{productId};
    </select>

    <select id="getProductDetailByProductId" resultType="ProductDetail">
        select * from mst_product_detail where product_id = #{productId};
    </select>

    <select id="findByNumPage" parameterType="int" resultMap="MstProductDto">
        select
            p.product_id,
            p.product_code,
            p.product_name,
            p.product_image,
            p.product_price,
            p.is_sales,
            p.description,
            p.customer_id,
            p.created_at,
            p.updated_at,
            c.customer_name,
            p.product_details,
            p.is_container
        from mst_product p left join mst_customer c on p.customer_id = c.customer_id order by (product_id) desc Limit #{offset}, 10;
    </select>

    <select id="getTotalPage" resultType="int">
        select count(*)
        from mst_product;
    </select>

    <select id="getTotalRecord" resultType="int">
        select count(product_id)
        from mst_product;
    </select>

    <select id="findByName" resultMap="MstProductDto" parameterType="MstProduct">
        SELECT
            p.product_id,
            p.product_code,
            p.product_name,
            p.product_image,
            p.product_price,
            p.is_sales,
            p.description,
            p.customer_id,
            p.created_at,
            p.updated_at,
            c.customer_name,
            p.product_details,
            p.is_container
        FROM mst_product p left join mst_customer c on p.customer_id = c.customer_id
        WHERE p.product_name  LIKE #{productName};
    </select>

    <update id="update" parameterType="MstProduct">
        UPDATE mst_product
        SET product_name  = #{productName},
            product_price = #{productPrice},
            product_image = case when #{productImage} = '../images/null' then product_image else #{productImage} end,
            description   = #{description},
            is_sales      = #{isSales},
            customer_id   = case when #{customerId} is null then customer_id else #{customerId} end,
            is_container = #{isContainer}
        WHERE product_id = #{productId};
    </update>

    <update id="update_product_detail" statementType="CALLABLE" parameterType="INT" >
        {call update_productdetails(#{id, jdbcType = INTEGER, mode = IN})}
    </update>

    <insert id="insert" parameterType="MstProduct">
        INSERT INTO mst_product(product_name, product_price, product_image, description, is_sales)
        VALUES (#{productName}, #{productPrice}, #{productImage}, #{description}, #{isSales});
    </insert>

    <insert id="insertProductDetail" parameterType="ProductDetail">
        INSERT INTO mst_product_detail(product_id, product_component, qty)
        VALUES (#{productId}, #{productComponent}, #{qty});
    </insert>

    <delete id="delete" parameterType="int">
        DELETE
        FROM mst_product
        WHERE product_id = #{productId};
    </delete>

    <delete id="deleteProductDetailById" parameterType="int">
        delete from mst_product_detail where product_id = #{productId};
    </delete>


</mapper>